<div class="margin-top mr-0 ml-0 row row-cols pt-6 justify-content-around">
    <div class="col mb-4" >
<div class="card">
    <fa name='close' class='p-2' routerLink='/announcements'></fa>
    <div class="card-body">
        <div style="height: 5rem;">
        <h5 class="card-title">{{announcements[0].title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{announcements[0].author}}</h6>
    </div>
        <p class="card-text">{{announcements[0].details }}</p>
    </div>
  <div class="card-footer">
    <small class="text-muted">{{announcements[0].date}}</small>
  </div>
</div>
</div>
</div>
