<div class="row justify-content-between mt-5" style="margin-right: auto; margin-left:auto; width:85%;">
  <div class="col " *ngFor="let name of templates" style="margin-top: 2rem;">
    <div class="card card-shadow " style="width: 12rem;">
      <div class="m-2" style="background-color: grey;">
        <img class="card-img-top" style="padding: 0.5rem 0.1rem 0 0.1rem;" src="../../../assets/templates cover.JPG"
          alt="templates cover">
      </div>
      <div class="card-body" style="padding: 0;">
        <h5 class="text-center card-title" style="font-size: medium;">{{name}}</h5>
        <div class="mb-2" style="margin-left: 17%;">
          <a href="" class="btn"
            style="background-color:#54816a; color: white; padding: 0.2rem 2rem;font-size: small;">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<div class="row justify-content-between mt-5" style="margin-right: auto; margin-left:auto; width:70%;">
  <span data-animation="true" data-toggle="tooltip" data-placement="left"
        title="Upload Template" class="shadow button5" style="margin-right: auto; margin-left: auto;" (click)="upload($event)">
            <fa style="font-size: 1.5rem;" name="plus" ></fa>
        </span>
</div>
