<div class="ml-auto mr-auto mt-5" style="width: fit-content;">
  <div class="row mr-0 ml-0 card" >
    <form class="form-inline my-2 my-lg-0" [formGroup]="simpleForm" style="background-color: #54816a;">
      <div class="input-group-append">
        <input class="form-control mr-sm-1" formControlName='search' type="search" placeholder="Search" aria-label="Search" style="width: 35rem;">
        <div class="input-group-text" style="margin-left: -0.5rem;" (click)="search()">
          <fa name="search"></fa>
        </div>
      </div>
    </form>
  </div>

</div>

  <div class="row ml-0 mr-0">
    <div class="col">
      <div class="row justify-content-around mt-5" style="margin-right: auto; margin-left:auto; ">

        <div class="col-4 " style="margin-top: 2rem;" *ngFor="let report of report ">
          <div class="card mb-3 card-shadow " style="max-width: 700px; height: 80%">
            <div class="row no-gutters">
              <div class="col-md-6">
                <img class="card-img ml-1 " style="height: max-content; top: 50%; margin-top: 10% " src="../../../assets/templates cover.JPG" alt="templates cover">
              </div>
              <div class="col-md-6 pr-4">
                <div class="card-body" style="padding: 0.8rem!important;">
                  <h5 class="text-center card-title" style="font-size: medium;">{{report.archiveTitle}}</h5>
                  <p class="text-center mb-0 card-title" style="font-size: small;">Type: {{report.archiveType}}</p>
                  <p class="text-center " style="font-size: small;">{{report.supervisodBy}}</p>
                  <div class="mb-4">
                    <a (click)="download(report._id)" class="btn"
                       style="background-color:#54816a; color: white; padding: 0.4rem 3rem;font-size: small;">Download</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
