<div class="row justify-content-start mr-0 ml-0">
  <div class="col-1 col-xs-3">
    <img src="../../assets/logo.png" style="width: 5rem;" alt="Logo">
  </div>
  <div class="col-2 col-xs-5 title">
    <h3>Portaj</h3>
  </div>
</div>
<div class="row m-auto justify-content-center pt-3 mt-2">

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-10 display-slideshow  pt-5 pl-4">
    <app-image-slide-show></app-image-slide-show>
  </div>
  <div class="col form-query">
    <section class="form-simple mt-4">
      <mdb-card>
        <div class="header pt-3 grey lighten-2">

          <div class="row d-flex justify-content-start">
            <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Sign Up</h3>
          </div>
        </div>
        <mdb-card-body class="mx-4">
          <form [formGroup]="simpleForm" (ngSubmit)="onSignin()" class="mr-auto ml-auto">
            <div class="md-form">
              <label for="idStudent">ID Number</label>
              <input type="text" id="idStudent" class="form-control" formControlName="idStudent" mdbInput>
            </div>

            <div class="md-form">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" formControlName="name" mdbInput>
            </div>

            <div class="md-form">
              <label for="name">Email</label>
              <input type="email" id="bd" class="form-control" formControlName="email" mdbInput>
            </div>

            <div class="md-form pb-3">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password" mdbInput>
            </div>

            <div class="md-form ">
              <label for="group">Need Partners?</label>
              <label style="margin-left: 2rem">
                <input type="radio" value="No" name="group" id="group" style="" formControlName="group" mdbInput> No
              </label>
              <label style="margin-left: 2rem">
                <input type="radio" value="Yes" name="group" id="group1" class="" formControlName="group" mdbInput> Yes
              </label>
            </div>

            <div *ngIf="showGroup() == 'Yes'">
              <div class="md-form">
                <label for="group">Details:</label>
                <label style="margin-left: 1rem">
                  <input type="radio" value="alone" name="details" id="group2" style="" formControlName="details"
                         mdbInput> Alone
                </label>
                <label style="margin-left: 1rem">
                  <input type="radio" value="group-2" name="details" id="full" class="" formControlName="details"
                         mdbInput> 2 Students
                </label>
              </div>
            </div>

            <div *ngIf="enterPartner()">
              <div class="md-form">
                <label for="partner">Partner's Name</label>
                <input type="text" id="partner" class="form-control" formControlName="partner" mdbInput>
              </div>
              <div class="md-form">
                <label for="partnerId">Partner's ID</label>
                <input type="text" id="partnerId" class="form-control" formControlName="partnerId" mdbInput>
              </div>
            </div>
            <div class="text-center mb-4">
              <button type="submit" mdbBtn style="background-color: #54816a; color: honeydew;" block="true"
                      class="z-depth-2">Sign Up
              </button>
            </div>
          </form>


          <p class="font-small grey-text d-flex justify-content-center">Have an account?
            <a routerLink='/login' class="dark-grey-text font-weight-bold ml-1"> Sign in</a>
          </p>

        </mdb-card-body>

      </mdb-card>
      <!--/Form with header-->

    </section>


  </div>
