.border-table{
    width: 70%;
    height: fit-content;
    margin-top: 5% !important ;
}
*{
   /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
   font-family : 'Karla';
}

.padding-details {
    padding-right: 2rem!important;
}
.color-grey {
    color:grey;
}
.hover:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.available{
    color: green;
}

.not-available{
    color: red;
}
.button5 {
    border-radius: 60%;
  margin: 4px 2px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.2rem;
  color: white;
  background-color:#54816a;
}
.button5:hover {
  background-color: white;
  color: #54816a;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.45) !important;
  cursor: pointer;
}
.display{
  display: block;
}
.display-none{
  display: none;
}
.center-margin{
  margin-left: 15%;
  margin-right: 15%;
}
.font-size-button{
  font-size: 0.8rem;
}
.pointer:hover{
  cursor: pointer;
}
.popup-css{
  width: 100%; 
  height: 100vh; 
  z-index: 2; 
  background-color:#54816a; 
  opacity: 0.8;
}
.popup{
  z-index: 3; 
  background-color:ghostwhite; 
  top: 30%; 
  left: 33%;
}
.details-popup{
  max-width: 95%;
  height: auto;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  z-index: 3;
  background-color:ghostwhite; 
  padding: 2rem;
}

.icon-style{
  font-size: 1.3rem;
}
.icon-style:hover{
  cursor: pointer;
}