<div class="row mr-0 ml-0 card" >
  <form class="form-inline my-2 my-lg-0" [formGroup]="simpleForm" style="background-color: #54816a;">
    <div class="input-group-append">
      <input class="form-control mr-sm-1" formControlName='search' type="search" placeholder="Search" aria-label="Search" style="width: 35rem;">
        <div class="input-group-text" style="margin-left: -0.5rem;" (click)="search()">
          <fa name="search"></fa>
      </div>
    </div>
    <!--
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Search By Year
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Second default radio
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
      <label class="form-check-label" for="exampleRadios3">
        Disabled radio
      </label>
    </div>
    -->
  </form>
</div>
