<div class="card shadow col ml-auto mr-auto" style=" top:13rem;width:65%;">
    <div class="row">
        <div class="padding-col col-4" routerLink='/home/partners'>
            <div class="div-wh mr-auto ml-auto">
                <img src="../../assets/images/partners-colorp.png" class="card-img-top" style="width: 6rem; height: 6rem;" alt="">
            </div>
            <div >
               <h6 class="text-center">Partners</h6>
              </div>
        </div>
        <div class="padding-col col-4" routerLink='/home/supervisors'>
            <div class="div-wh mr-auto ml-auto">
                <img src="../../assets/images/t2.png" style="width: 6rem; height: 6rem;" alt="">
            </div>
            <div >
               <h6 class="text-center">Supervisors</h6>
              </div>
        </div>
      <div class="padding-col col-4" routerLink='/home/upload'>
        <div class="div-wh mr-auto ml-auto">
          <img src="../../assets/images/upload.png" style="width: 6rem; height: 6rem;" alt="">
        </div>
        <div >
          <h6 class="text-center">Upload</h6>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="padding-col col-4" routerLink='/home/templates'>
            <div class="div-wh mr-auto ml-auto">
                <img src="../../assets/images/template.png" style="width: 6rem; height: 6rem;" alt="">
            </div>
            <div >
               <h6 class="text-center">Templates</h6>
              </div>
        </div>
        <div class="padding-col col-4" routerLink='/home/archive'>
            <div class="div-wh mr-auto ml-auto">
                <img src="../../assets/images/a2.png" style="width: 6rem; height: 6rem;" alt="">
            </div>
            <div >
               <h6 class="text-center">Archive</h6>
              </div>
        </div>
      <div class="padding-col col-4" >
        <div class="div-wh mr-auto ml-auto">

        </div>
        <div >

        </div>
      </div>
    </div>
</div>

<div>
    <app-progress></app-progress>
</div>
